/* text */

.headline_box {
  margin: 0 auto 4vw;
  max-width: 1080px;
  padding: 0 4vw;
}

.headline {
  font-size: 4rem;
  font-weight: normal;
  line-height: 1.3;
}

.headline span {
  font-size: 1.5rem;
  display: block;
  margin: 1.6rem 0 0 0;
  color: var(--text-secondary);
}

.headline_box_center {
  text-align: center;
}
.headline_box_center .headline {
  margin: 0 0 40px 0;
}

.headline_box_center .headline span {
  display: block;
  margin: 1.6rem 0 0 0;
}

.headline_box_center p {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.sectionFlexLeft .headline span {
  display: block;
  margin: 1.6rem 0 0 0;
}

@media screen and (max-width: 767px) {
  .headline_box {
    margin: 0 auto 40px;
  }

  .headline_box_center {
    margin: 0 auto 40px;
  }

  .headline {
    font-size: 3rem;
    text-align: center;
  }

  .headline_box_center .headline span {
    margin: 10px 0 0 0;
  }

  .sectionFlexLeft .headline span {
    margin: 10px 0 0 0;
  }
}

@media screen and (max-width: 480px) {
  .headline_box {
    margin: 0 auto 30px;
    padding: 0 4vw;
  }

  .headline_box_center {
    margin: 0 auto 30px;
    padding: 0 20px;
  }

  .headline {
    font-size: 2rem;
  }

  .headline span {
    font-size: 1.4rem;
    display: block;
    margin: 10px 0 0;
  }
}

/* page */

.pageContent {
  padding: 6vw 0;
  position: relative;
}

.pageContent::before {
  content: ' ';
  position: absolute;
  top: 14vw;
  left: 0;
  right: 0;
  height: 600px;
  background-color: var(--secondary-Light);
  transform: skewY(-8deg);
  z-index: -1;
}

.pageContentBgLight::before {
  background-color: var(--background);
}

.pageContent h2 {
  font-size: 2.8rem;
  margin: 0 0 30px 0;
  line-height: 1.5;
}
.pageContent h2 span {
  font-size: 1.8rem;
  margin: 0 0 30px 0;
  display: block;
}

.pageContent h3 {
  font-size: 1.8rem;
  margin: 40px 0 10px 0;
  line-height: 1.5;
}

.pageContent table {
  border-collapse: collapse;
  font-size: 1.6rem;
  line-height: 1.4;
  width: 100%;
}

.pageContent table tr {
  border-bottom: solid 1px var(--border-light);
}
.pageContent table tr:first-child {
  border-top: solid 1px var(--border-light);
}
.pageContent table th {
  padding: 20px 0;
  font-weight: bold;
  text-align: left;
}
.pageContent table td {
  padding: 20px 0 20px 20px;
  font-weight: normal;
  white-space: pre-wrap;
}

.paddingBox {
  padding: 0;
}

@media screen and (max-width: 640px) {
  .pageContent::before {
    top: 120px;
  }

  .pageContent table th {
    padding: 20px 0 10px;
    font-weight: bold;
    text-align: left;
    display: block;
  }
  .pageContent table td {
    padding: 0 0 20px;
    font-weight: normal;
    white-space: pre-wrap;
    display: block;
  }

  .pageContent h2 {
    font-size: 2rem;
    text-align: center;
  }
  .pageContent h2 span {
    font-size: 1.5rem;
    margin: 0 0 30px 0;
    display: block;
  }

  .paddingBox {
    padding: 0 20px;
  }
}
/* about */
.vmv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0 80px 0;
  padding: 0 4vw;
}

.vmvHeadline {
  font-size: 4rem;
  margin: 0 4vw 0 0;
  width: 16rem;
}
.vmvCopy {
  width: calc(100% - 4vw - 16rem);
  font-size: 1.8rem;
}

.greeting {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4vw;
  background-color: var(--background);
}

.greetingCopy {
  width: 60%;
}

.greetingImg {
  width: calc(40% - 4vw);
  margin: 0 0 0 4vw;
  text-align: center;
}
.greetingImg p {
  margin: 20px 0 0 0;
}

@media screen and (max-width: 640px) {
  .vmv {
    display: block;
    padding: 20px;
  }

  .vmv:last-child {
    margin: 0;
  }

  .vmvHeadline {
    font-size: 3rem;
    margin: 0 0 4vw 0;
    width: auto;
  }
  .vmvCopy {
    width: auto;
    font-size: 1.6rem;
  }

  .greeting {
    display: block;
    padding: 40px 20px;
  }

  .greetingCopy {
    width: 100%;
  }

  .greetingImg {
    width: 40vw;
    margin: 40px auto 0;
    text-align: center;
  }

  .greetingImg p {
    margin: 20px 0 0 0;
  }
}

/* div */

.mgTop {
  margin: 40px 0 0 0;
}

.flexBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 4vw;
}

.flexBoxLeft {
  margin: 0;
  width: 50%;
  order: 1;
}
.flexBoxRight {
  margin: 0;
  width: 50%;
  order: 2;
}

.flexBoxChange .flexBoxRight {
  order: 1;
}
.flexBoxChange .flexBoxLeft {
  order: 2;
}

@media screen and (max-width: 480px) {
  .flexBox {
    display: block;
  }

  .flexBoxLeft {
    margin: 0;
    width: 100%;
  }
  .flexBoxRight {
    margin: 0;
    width: 100%;
  }
}

/* service */

.serviceImg {
  width: 100%;
  max-width: 500px;
  position: relative;
}

.serviceImg::before {
  padding: 100% 0 0 0;
  display: block;
  content: ' ';
}
.serviceImgInner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.servicePageTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4vw;
}

.servicePageTitleLeft {
  width: 40%;
  order: 1;
}
.servicePageTitleRight {
  width: calc(60% - 4vw);
  margin: 0 0 0 4vw;
  order: 2;
}

.width540Box {
  margin: 0 auto;
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
}
.width540Box p {
  text-align: left;
}

.recomendBox {
  position: relative;
  background-color: var(--background);
  padding: 40px 60px;
  display: block;
}

.recomendBox p {
  font-size: 1.8rem;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.recomendBox p svg {
  color: var(--primary-Main);
  margin: 0 10px 0 0;
  font-size: 2rem;
}

.recomendBoxTitle {
  width: 200px;
  height: 200px;
  background-color: var(--secondary-Main);
  border-radius: 50%;
  position: absolute;
  right: -30px;
  top: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recomendBoxTitle p {
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

.stepsContent .flexBox {
  align-items: flex-start;
}
.stepsContent .flexBoxLeft {
  padding: 0 6vw 0 0;
}

.steps {
  counter-reset: step-counter;
  position: relative;
  padding-left: 6rem;
}

/* 縦棒 */
.steps:before {
  content: '';
  /* 幅と色 */
  background-color: var(--primary-Main);
  width: 1px;
  /* 位置 */
  position: absolute;
  top: 2.5rem; /* 円のwidthの半分 */
  left: 2.5rem; /* 円のwidthの半分 */
  height: calc(100% - 0.7rem); /* 100% - top */
  /* 連番より後ろに表示するため */
  z-index: 0;
}

.steps > h3 {
  /* 連番カウンターを+1する */
  counter-increment: step-counter;
  /* 連番カウンターを垂直方向に中央揃えで表示する */
  display: flex;
  align-items: center;
  font-size: 2.8rem;
  margin: 0 0 10px 0;
}

/* ①②③など連番 */
.steps > h3:before {
  /* 連番カウンターの値を表示する */
  content: counter(step-counter);
  /* フォントと色 */
  background: var(--primary-Main);
  color: white;
  font-size: 2rem;
  font-weight: normal;
  /* 文字を中央に表示する */
  line-height: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* 円で表示する */
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  /* .stepsでmargin-left +2rem したぶん左に戻す */
  position: absolute;
  left: 0;
  /* 縦棒より手前に表示するため */
  z-index: 1;
  border: solid #fff 4px;
  box-sizing: border-box;
}

.steps p {
  margin: 0 0 60px;
}

.numberContent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  counter-reset: step-counter;
  padding: 0 4vw;
}
.numberContentBox {
  width: calc(50% - 30px);
  margin: 0 0 60px 60px;
  position: relative;
  counter-increment: step-counter;
  padding: 0 0 0 8rem;
  box-sizing: border-box;
}
.numberContentBox:nth-child(odd) {
  margin: 0 0 60px 0;
}

.numberContentBox > h2 {
  font-size: 2rem;
  margin: 0 0 20px 0;
}

/* ①②③など連番 */
.numberContentBox:before {
  /* 連番カウンターの値を表示する */
  content: counter(step-counter);
  /* フォントと色 */
  color: var(--primary-Main);
  font-size: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  font-style: italic;
  font-weight: normal;
}

.recomendBoxInner {
  padding: 0 0 0 0;
}

@media screen and (max-width: 640px) {
  .servicePageTitle {
    display: block;
    padding: 0 20px;
  }

  .servicePageTitleLeft {
    width: 100%;
    margin: 0 auto;
  }
  .servicePageTitleRight {
    width: 100%;
    margin: 0 0 30px;
  }

  .recomendBoxInner {
    padding: 180px 0 0 0;
  }

  .recomendBox {
    position: relative;
    padding: 40px 20px;
    display: block;
    margin: 0 0 0;
  }

  .recomendBox p {
    font-size: 1.6rem;
    margin: 20px 0;
  }

  .recomendBoxTitle {
    width: 180px;
    height: 180px;
    position: absolute;
    right: auto;
    left: 50%;
    top: calc(-50% + 30px);
    transform: translate(-50%, 0);
  }

  .recomendBoxTitle p {
    font-size: 2rem;
    text-align: center;
    color: #fff;
  }

  .steps {
    margin: 60px 0 0 0;
  }

  .steps > h3 {
    /* 連番カウンターを+1する */
    counter-increment: step-counter;
    /* 連番カウンターを垂直方向に中央揃えで表示する */
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin: 0 0 10px 0;
  }

  .numberContent {
    display: block;
    padding: 0 20px;
  }
  .numberContentBox {
    width: 100%;
    margin: 0 0 80px 0;
    position: relative;
    counter-increment: step-counter;
    padding: 0 0 0 8rem;
    box-sizing: border-box;
  }
  .numberContentBox:nth-child(odd) {
    margin: 0 0 80px 0;
  }

  .numberContentBox > h2 {
    font-size: 2rem;
    margin: 0 0 20px 0;
    text-align: left;
  }
}

@media screen and (max-width: 480px) {
  .serviceImg {
    width: 80%;
    position: relative;
    margin: 0 auto 40px;
  }
}

/* section */

.slantBg {
  width: 100%;
  margin: 0;
  position: relative;
  overflow: visible;
  padding: 2vw 0;
}

.slantBg::before {
  content: ' ';
  position: absolute;
  top: 8vw;
  bottom: 4vw;
  left: 0;
  right: 0;
  background-color: var(--bg-light);
  transform: skewY(-8deg);
  z-index: -1;
}

.slantBg_inner {
  padding: 4vw 0;
  box-sizing: content-box;
  margin: 0 auto;
}

.section_inner {
  padding: 6vw 0;
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 1080px;
}
.section_inner_padding {
  padding: 6vw 20px;
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 1080px;
}

.case_inner {
  padding: 30px 0 4vw;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
}

.sectionFlex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 4vw;
  box-sizing: content-box;
}
.sectionFlexLeft {
  width: 30%;
}
.sectionFlexRight {
  width: calc(70% - 40px);
  margin: 0 0 0 40px;
}

@media screen and (max-width: 767px) {
  .sectionFlex {
    display: block;
    padding: 0 20px;
  }
  .sectionFlexLeft {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .sectionFlexRight {
    width: 100%;
    margin: 0;
  }

  .case_inner {
    padding: 80px 0 60px;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
  }
}

@media screen and (max-width: 480px) {
  .section_inner {
    padding: 60px 0;
  }
}

/* contents */

.contentBox {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 4vw;
  box-sizing: content-box;
}

.contentFlex {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}

.contentFlexTwo {
  width: calc(50% - 20px);
  margin: 0 0 40px 40px;
  position: relative;
}
.contentFlexTwo:nth-child(odd) {
  margin: 0 0 40px 0;
}

.contentFlexThree {
  width: calc(33.3333% - 20px);
  margin: 0 30px 40px 0;
  position: relative;
}
.contentFlexThree:nth-child(3n) {
  margin: 0 0 40px 0;
}

.boxShadowA {
  box-shadow: 0px 4px 30px rgba(0, 35, 51, 0.2);
}

.boxRound {
  border-radius: 6px;
  position: relative;
  background-color: #fff;
}
.boxRound_inner {
  border-radius: 6px;
  overflow: hidden;
}

.imageBoxA {
  width: 100%;
  position: relative;
}

.imageBoxA::before {
  padding: 50% 0 0 0;
  display: block;
  content: ' ';
}
.imageBoxB {
  width: 100%;
  position: relative;
}

.imageBoxB::before {
  padding: 62.5% 0 0 0;
  display: block;
  content: ' ';
}
.imageBoxC {
  width: 100%;
  position: relative;
}

.imageBoxC::before {
  padding: 75% 0 0 0;
  display: block;
  content: ' ';
}
.imageBoxD {
  width: 100%;
  position: relative;
}

.imageBoxD::before {
  padding: 141% 0 0 0;
  display: block;
  content: ' ';
}
.imageCircle {
  width: 100%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.imageCircle::before {
  padding: 100% 0 0 0;
  display: block;
  content: ' ';
}

.imageBoxSquare {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.imageBoxSquare::before {
  padding: 100% 0 0 0;
  display: block;
  content: ' ';
}

.txtBoxA {
  padding: 20px;
}

.txtBoxB {
  padding: 20px;
}
.txtBoxB .imageBoxB {
  margin: 0 0 20px 0;
}

.txtBoxB h3 {
  text-align: center;
}

.txtBoxC {
  padding: 10px;
}

.hoverTxt {
  position: absolute;
  left: 10px;
  bottom: -15px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 30px rgba(0, 35, 51, 0.2);
  border-radius: 6px;
}

.stepBoxWrapper {
  margin: 0;
  padding: 0;
}
.stepBoxWrapper .contentFlexTwo {
  margin: 0 0 40px 40px;
}
.stepBoxWrapper .contentFlexTwo:nth-child(odd) {
  padding: 4vw 0 0 0;
  margin: 0 0 40px 0;
}

.DesignWrapper .txtBoxA {
  width: calc(100% - 240px);
}

.DesignImg {
  position: absolute;
  right: 20px;
  top: 50%;
  width: 20vw;
  height: 20vw;
  max-width: 240px;
  max-height: 240px;
  transform: translate(0, -50%);
}

.stepBoxWrapper .contentFlexTwo:nth-child(even) .DesignImg {
  bottom: 0;
}

@media screen and (max-width: 960px) {
  .contentFlexTwo {
    width: calc(50% - 10px);
    margin: 0 0 20px 20px;
    position: relative;
  }
  .contentFlexTwo:nth-child(odd) {
    margin: 0 0 20px 0;
  }

  .contentFlexThree {
    width: calc(33.3333% - 16px);
    margin: 0 24px 24px 0;
    position: relative;
  }
  .contentFlexThree:nth-child(3n) {
    margin: 0 0 24px 0;
  }

  .stepBoxWrapper .contentFlexTwo {
    width: calc(50% - 20px);
    margin: 0 0 40px 40px;
  }
  .stepBoxWrapper .contentFlexTwo:nth-child(odd) {
    padding: 4vw 0 0 0;
    margin: 0 0 40px 0;
  }

  .DesignWrapper .txtBoxA {
    width: calc(100% - 160px);
  }

  .DesignImg {
    right: -15px;
    bottom: auto;
    top: 50%;
    transform: translate(0, -50%);
    width: 160px;
    height: 160px;
  }

  .stepBoxWrapper .contentFlexTwo:nth-child(even) .DesignImg {
    top: calc(50% - 20px);
  }

  .hoverTxt {
    left: 10px;
    bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .DesignWrapper .contentFlexTwo {
    width: 100%;
    margin: 0 0 30px;
  }
  .DesignWrapper .contentFlexTwo:nth-child(odd) {
    margin: 0 0 30px;
  }

  .stepBoxWrapper .contentFlexTwo:nth-child(odd) {
    padding: 0 0 0 0;
  }

  .DesignImg {
    right: 15%;
    bottom: auto;
    top: 50%;
    transform: translate(0, -50%);
    width: 200px;
    height: 200px;
  }

  .stepBoxWrapper .contentFlexTwo:nth-child(even) .DesignImg {
    top: 50%;
  }

  .contentFlexThree {
    width: calc(50% - 10px);
    margin: 0 0 20px 20px;
    position: relative;
  }

  .contentFlexThree:nth-child(3n) {
    margin: 0 0 20px 20px;
  }
  .contentFlexThree:nth-child(odd) {
    margin: 0 0 20px 0;
  }
}

@media screen and (max-width: 640px) {
  .contentBox {
    padding: 0 20px;
  }

  .contentFlexTwo {
    width: 100%;
    margin: 0 0 15px;
  }
  .contentFlexTwo:nth-child(odd) {
    margin: 0 0 15px;
  }

  .contentFlexThree {
    width: 100%;
    margin: 0 0 15px;
  }
  .contentFlexThree:nth-child(3n) {
    margin: 0 0 15px;
  }
  .contentFlexThree:nth-child(odd) {
    margin: 0 0 15px;
  }
}

@media screen and (max-width: 620px) {
  .DesignImg {
    right: 20px;
  }
}

@media screen and (max-width: 520px) {
  .DesignWrapper {
    padding: 80px 0 0;
  }
  .DesignImg {
    right: 50%;
    top: -100px;
    width: 160px;
    height: 160px;
    transform: translate(50%, 0);
  }
  .stepBoxWrapper .contentFlexTwo:nth-child(even) .DesignImg {
    top: -100px;
  }

  .DesignWrapper .contentFlexTwo {
    margin: 0 0 120px;
  }
  .DesignWrapper .contentFlexTwo:nth-child(odd) {
    margin: 0 0 120px;
  }

  .DesignWrapper .txtBoxA {
    padding: 50px 20px 20px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }
}

/* slider */

.prevBtn {
  position: absolute;
  left: 4vw;
  top: 50%;
  transform: translate(0, -50%);
  width: 50px;
  height: 50px;
  background-color: var(--primary-500);
  z-index: 999;
}
.nextBtn {
  position: absolute;
  right: 4vw;
  top: 50%;
  transform: translate(0, -50%);
  width: 50px;
  height: 50px;
  background-color: var(--primary-500);
  z-index: 999;
}

/* case */

.caseContents {
  display: flex !important;
  align-items: center;
  max-width: 1080px;
  overflow: hidden;
  width: calc(100% - 4vw);
  margin: 0 auto;
  padding: 0 70px 30px;
  box-sizing: content-box;
}

.caseContentsImg {
  width: 44%;
  position: relative;
  order: 2;
}
.caseContentsImg::before {
  padding: 75% 0 0 0;
  display: block;
  content: ' ';
}

.caseContentsImg_inner {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.caseContentsTxt {
  width: calc(56% - 40px);
  margin: 0 40px 0 0;
  order: 1;
}

.caseContentsTxt h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 20px 0;
}
.caseContentsTxt h2 span {
  font-size: 1.2rem;
  display: block;
  margin: 10px 0 0 0;
}

.caseContentsTxt p {
  font-size: 1.4rem;
}

.caseContentsLogo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 15px 0 0 0;
}

.caseContentsLogoImg {
  width: 70px;
  position: relative;
  margin: 0 15px 0 0;
}
.caseContentsLogoImg::before {
  padding: 75% 0 0 0;
  content: ' ';
  display: block;
}

.button_prev {
  left: 0;
  top: 50%;
  background-color: #000;
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1180px) {
  .caseContents {
    display: flex !important;
    align-items: center;
    max-width: 1080px;
    overflow: hidden;
    width: calc(100% - 4vw);
    margin: 0 auto;
    padding: 0 30px 30px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 767px) {
  .caseContents {
    display: block !important;
    padding: 0 20px 30px;
    width: 100%;
    max-width: 100%;
  }

  .caseContentsImg {
    width: 100%;
    position: relative;
    order: 2;
    margin: 0 0 20px 0;
  }
  .caseContentsImg::before {
    padding: 62.5% 0 0 0;
    display: block;
    content: ' ';
  }

  .caseContentsImg_inner {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .caseContentsTxt {
    width: 100%;
    margin: 0 0 0 0;
    order: 1;
  }

  .caseContentsTxt h2 {
    font-size: 1.6rem;
    margin: 0 0 10px 0;
  }
  .caseContentsTxt h2 span {
    font-size: 1.1rem;
    margin: 10px 0 0 0;
  }
}

/* recommend */

.recommendContents {
  align-items: center;
  padding: 4vw 40px 34px;
  max-width: 720px;
  margin: 0 auto;
  box-sizing: content-box;
}

.recommendContentsFlex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
}

.recommendContentsImg {
  width: 200px;
}

.recommendContentsTxt {
  width: calc(100% - 230px);
  margin: 0 0 0 30px;
}
@media screen and (max-width: 767px) {
  .recommendContents {
    align-items: center;
    padding: 20px 20px 40px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .recommendContentsFlex {
    display: block;
    padding: 20px;
  }

  .recommendContentsImg {
    width: 200px;
    margin: 0 auto 20px;
  }

  .recommendContentsTxt {
    width: 100%;
    margin: 0 0 0 0;
  }
}

/* handbook */

.handbookLink {
  color: #000;
}

.handbookLinkHover {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.handbookLink:hover .handbookLinkHover {
  opacity: 1;
}

.handbookSmallLink {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.handbookSmallImg {
  width: 80px;
}

.handbookSmallTxt {
  width: calc(100% - 95px);
  margin: 0 0 0 5px;
}

/* faq */

.faqContent {
  margin: 0;
}

ul.faqContent li {
  border-top: solid 1px var(--info-Light);
}

ul.faqContent li:first-child {
  border: none;
}

ul.faqContent h3 {
  margin: 0 0 0 0;
  padding: 10px 10px;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--info-Dark);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  line-height: 1.4;
}

ul.faqContent h3 svg {
  margin: 0 10px 0 0;
  font-size: 2rem;
}

ul.faqContent p {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@media screen and (max-width: 480px) {
  ul.faqContent h3 {
    font-size: 1.4rem;
    padding: 10px 30px 10px 10px;
  }
  ul.faqContent p {
    font-size: 1.4rem;
  }
}
/* contactSection */

.contactSection {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 4vw;
}

.contactSection_inner {
  max-width: 1080px;
  box-sizing: border-box;
  padding: 4vw;
  margin: 0 auto;
  background-color: var(--secondary-Light);
}

.contactSection h2 {
  font-size: 3rem;
}

.contactSectionFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactSectionLink {
  background-color: #fff;
  width: calc(33.3333% - 20px);
  margin: 0 0 0 30px;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 4px;
  color: var(--info-Main);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  display: block;
}

.contactSectionLink:first-child {
  margin: 0;
}

.contactSectionLink:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
}

.contactSectionLink h3 {
  text-align: center;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 0;
}
.contactSectionLink h3 svg {
  font-size: 1.8rem;
  display: inline-block;
  margin: 0 10px 0 0;
  color: var(--info-Main);
}
.contactSectionLink p {
  margin: 20px 0 0;
  text-align: center;
  font-size: 1.4rem;
}
.contactSectionLink p span {
  display: block;
}

@media screen and (max-width: 767px) {
  .contactSection_inner {
    padding: 40px 20px;
  }

  .contactSection h2 {
    font-size: 2rem;
  }

  .contactSectionFlex {
    display: block;
  }

  .contactSectionLink {
    width: 100%;
    margin: 0 0 20px;
    box-sizing: border-box;
    padding: 30px;
  }
  .contactSectionLink:first-child {
    margin: 0 0 20px;
  }
}

/* news */

.boxSection {
  padding: 4vw;
}
.boxSectionInner {
  background-color: var(--background);
  max-width: 1200px;
  margin: 0 auto;
}

.newsListHead {
  background-color: var(--bg-light);
}
.newsListHeadInnder {
  padding: 20px 4vw;
}
.newsCategoryFlex {
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 4vw;
}
.newsListHeadInnder .newsCategoryFlex {
  padding: 0;
  margin: 0 auto;
}

.newsListHeadInnder h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  padding: 30px 0;
}
.newsListHeadInnder h1 svg {
  margin: 0 5px 0 0;
}
.newsCategoryTitle {
  display: block;
  margin: 0 0 10px 0;
  font-weight: bold;
  text-align: center;
}
ul.newsCategoryList {
  display: block;
  text-align: center;
}
ul.newsCategoryList li {
  margin: 0 10px 6px;
  display: inline-block;
}

ul.newsCategoryList li a {
  font-size: 1.6rem;
  padding: 3px 5px;
  border-radius: 2px;
}

ul.newsCategoryList li a:hover {
  background-color: var(--info-Light);
  color: #fff;
}

ul.newsCategoryList li ul.news {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.newsListContent {
  margin: 0 auto;
  padding: 2vw 0 8vw 0;
}

.newsListContent ul.news {
  max-width: 680px;
  margin: 0 auto;
}

ul.news li {
  display: block;
  width: 100%;
  border-bottom: solid 1px var(--border-light);
}
ul.news li a {
  color: var(--text-color);
  padding: 25px 10px;
  display: block;
}

ul.news li a:hover {
  background-color: #f9fafa;
}
ul.news li h3 {
  font-size: 1.7rem;
  margin: 0 0 15px 0;
  font-weight: normal;
  line-height: 1.4;
}

ul.newsImages {
  max-width: 1080px !important;
  box-sizing: content-box;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

ul.newsImages li {
  width: calc(33.3333% - 20px);
  margin: 0 0 40px 30px;
  border-bottom: none;
}

ul.newsImages li:nth-child(3n + 1) {
  margin: 0 0 40px;
}

ul.newsImages li a {
  padding: 15px;
}

.newsImagesBox {
  width: 100%;
  position: relative;
  margin: 0 0 10px 0;
  box-shadow: 0px 4px 20px rgba(0, 35, 51, 0.15);
  border-radius: 6px;
  overflow: hidden;
}
.newsImagesBox::before {
  padding: 50% 0 0 0;
  content: ' ';
  display: block;
}

.newsImagesTxt {
  margin: 0;
}

.newx_list_link {
  text-align: right;
  margin: 30px 0 0 0;
}

@media screen and (max-width: 840px) {
  ul.newsImages {
    padding: 20px;
    box-sizing: border-box;
  }

  ul.newsImages li {
    width: calc(50% - 10px);
    margin: 0 0 30px 20px;
    border-bottom: none;
    padding: 0;
  }

  ul.newsImages li:nth-child(3n + 1) {
    margin: 0 0 30px 20px;
  }
  ul.newsImages li:nth-child(odd) {
    margin: 0 0 30px;
  }

  ul.newsImages li a {
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  ul.newsCategoryList {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
  }
  ul.newsCategoryList li {
    width: calc(50% - 3px);
    margin: 0 0 6px 6px;
    display: block;
  }
  ul.newsCategoryList li:nth-child(odd) {
    margin: 0 0 6px 0;
  }
  ul.newsCategoryList li a {
    display: block;
    border: solid 1px var(--info-Main);
    font-size: 1.4rem;
    padding: 5px;
    text-align: center;
  }

  ul.news li a {
    padding: 20px;
  }

  ul.news li h3 {
    font-size: 1.6rem;
    margin: 0 0 15px 0;
    font-weight: bold;
    line-height: 1.4;
  }

  ul.newsImages li {
    width: 100%;
    margin: 0 0 30px 0;
    border-bottom: none;
    padding: 0;
  }

  ul.newsImages li:nth-child(3n + 1) {
    margin: 0 0 30px 0;
  }
  ul.newsImages li:nth-child(odd) {
    margin: 0 0 30px;
  }
  ul.newsImages li a {
    padding: 0;
  }
}

/* post */

.postPage {
  padding: 60px 0;
}

.postOgpImage {
  margin: 0 auto 20px;
  width: 840px;
  height: 475px;
  position: relative;
}

.postContent {
  max-width: 680px;
  margin: 0 auto;
}
.postContent h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 20px 0;
  line-height: 1.4;
}

.postBody {
  margin: 60px 0 0 0;
}

.postMetaFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBody h2 {
  font-size: 2.6rem;
  font-weight: bold;
  margin: 60px 0 20px;
  padding: 0 0 0 40px;
  position: relative;
}
.postBody h2::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  content: ' ';
  width: 3rem;
  height: 3rem;
  box-sizing: border-box;
  border: solid 1rem var(--primary-500);
  border-radius: 50%;
}

.postBody h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 10px;
}
.postBody h4 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 0 10px;
}
.postBody h5 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 0 10px;
}
.postBody p {
  margin: 0 0 20px;
  font-size: 1.6rem;
}
.postBody p strong {
  font-weight: bold;
}

.postBody img {
  max-width: 100%;
  height: auto;
  margin: 0 auto 20px;
}

.postBody blockquote {
  display: block;
  padding: 15px 20px;
  line-height: 1.6;
  border-left: solid 4px var(--primary-300);
  font-size: 1.6rem;
  background-color: var(--bg-light);
  margin: 0 0 20px;
}

.postBody pre {
  font-size: 1.6rem;
  margin: 0 0 20px;
}
.postBody code {
  padding: 20px;
  white-space: pre-wrap;
}

.postBody ol {
  list-style: decimal inside;
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 0 0 20px;
}
.postBody ul {
  list-style: disc inside;
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 0 0 20px;
}

.nextPreviewWrapper {
  border-top: solid 1px var(--border-light);
  border-bottom: solid 1px var(--border-light);
  padding: 20px;
  margin: 20px 0;
}

.nextPreview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 680px;
  box-sizing: content-box;
  margin: 0 auto;
}
.nextPreviewbox {
  width: 46%;
}
.nextPreview a {
  font-size: 1.2rem;
  color: var(--text-color);
  line-height: 1.4;
  font-weight: bold;
  box-sizing: border-box;
  display: block;
  position: relative;
  padding: 5px;
}
.nextPreview a.next {
  padding: 0 4rem 0 0;
}
.nextPreview a.prev {
  padding: 0 0 0 4rem;
}

.nextPreview a.next svg {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(0, -50%);
  width: 3rem;
  height: 3rem;
  color: var(--primary-500);
}
.nextPreview a.prev svg {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translate(0, -50%);
  width: 3rem;
  height: 3rem;
  color: var(--primary-500);
}

.nextPreview a:hover {
  text-decoration: underline;
}

ul.tagList {
  display: block;
}

ul.tagList li {
  display: inline-block;
  margin: 0 8px 8px 0;
}

ul.tagList li a {
  font-size: 1.4rem;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding: 3px;
  border-radius: 2px;
}

ul.tagList li a svg {
  font-size: 1.6rem;
  margin: 0 3px 0 0;
}

ul.tagList li a:hover {
  background-color: var(--bg-light);
  color: var(--primary-700);
}

@media screen and (max-width: 840px) {
  .postOgpImage {
    margin: 0 auto 30px;
    width: 100%;
    height: 50vw;
  }

  .postContent {
    margin: 0 auto;
    padding: 0 20px;
  }

  .postContent h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 20px 0;
    line-height: 1.4;
  }

  .postBody {
    margin: 60px 0 0 0;
  }

  .postMetaFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .postBody h2 {
    font-size: 2rem;
    padding: 0 0 0 2.7rem;
  }
  .postBody h2::before {
    width: 2rem;
    height: 2rem;
    border: solid 0.65rem var(--primary-500);
  }

  .postBody h3 {
    font-size: 1.8rem;
  }
  .postBody h4 {
    font-size: 1.6rem;
  }
  .postBody h5 {
    font-size: 1.6rem;
  }
  .postBody p {
    font-size: 1.4rem;
  }
  .postBody p strong {
    font-weight: bold;
  }

  .postBody img {
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px;
  }

  .postBody blockquote {
    display: block;
    padding: 15px 20px;
    line-height: 1.6;
    border-left: solid 4px var(--primary-300);
    font-size: 1.6rem;
    background-color: var(--bg-light);
    margin: 0 0 20px;
  }

  .postBody pre {
    font-size: 1.6rem;
    margin: 0 0 20px;
  }
  .postBody code {
    padding: 20px;
    white-space: pre-wrap;
  }

  .postBody ol {
    list-style: decimal inside;
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 0 0 20px;
  }
  .postBody ul {
    list-style: disc inside;
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 0 0 20px;
  }

  .postBody iframe {
    width: 100%;
  }

  .nextPreviewWrapper {
    border-top: solid 1px var(--border-light);
    border-bottom: solid 1px var(--border-light);
    padding: 20px 0;
    margin: 20px 0;
  }

  .nextPreview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 680px;
    box-sizing: content-box;
    margin: 0 auto;
  }
  .nextPreviewbox {
    width: 46%;
  }
  .nextPreview a {
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 1.4;
    font-weight: bold;
    box-sizing: border-box;
    display: block;
    position: relative;
    padding: 5px;
  }
  .nextPreview a.next {
    padding: 0 4rem 0 0;
  }
  .nextPreview a.prev {
    padding: 0 0 0 4rem;
  }

  .nextPreview a.next svg {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0, -50%);
    width: 3rem;
    height: 3rem;
    color: var(--primary-500);
  }
  .nextPreview a.prev svg {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translate(0, -50%);
    width: 3rem;
    height: 3rem;
    color: var(--primary-500);
  }

  .nextPreview a:hover {
    text-decoration: underline;
  }
}

/* share */

ul.shareIcons {
  display: flex;
  justify-content: flex-end;
}

ul.shareIcons li {
  margin: 0 0 0 15px;
}

ul.shareIcons li a {
  font-size: 1.8rem;
  color: var(--dark-300);
}

ul.shareIcons li button {
  font-size: 1.8rem;
  color: var(--dark-300);
}
ul.shareIcons li a:hover,
ul.shareIcons li button:hover {
  color: var(--dark-700);
}
.postContactBox {
  border: solid 2px var(--primary-500);
  box-sizing: border-box;
  padding: 30px;
  border-radius: 6px;
  margin: 40px 0;
}
.postContactBoxLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px 0;
}
.postContactBoxLogoImg {
  width: 120px;
  height: 30px;
  position: relative;
  margin: 0 20px 0 0;
}

.postContactBoxLogo p {
  font-size: 1.4rem;
  font-weight: bold;
  display: inline-block;
  color: var(--primary-500);
}

.categoryLinkBtnBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.categoryLinkBtnBox a {
  margin: 0 5px;
}

.noPost {
  padding: 60px 4vw;
  text-align: center;
}
.noPost p {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}
/* latest */

.latestPost {
  max-width: 680px;
  margin: 60px auto 0;
}

/* pager */

ul.pager {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0;
}

ul.pager li {
  margin: 0 3px;
}
ul.pager li a {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  box-sizing: border-box;
  min-width: 28px;
  border-radius: 50%;
  border: solid 1px var(--info-Main);
  color: var(--info-Main);
}

ul.pager li a:hover {
  background-color: var(--info-Main);
  color: #fff;
}

ul.pager li.active a {
  background-color: var(--info-Light);
  color: #fff;
}

@media screen and (max-width: 840px) {
  .categoryLinkBtnBox {
    display: block;
    max-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .categoryLinkBtnBox a {
    display: flex;
    margin: 0 0 10px;
  }
}
/* breadcrumb */

ul.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
}

ul.breadcrumb li {
  margin: 0;
}

ul.breadcrumb li.slush {
  margin: 0 5px 0;
}

ul.breadcrumb li a:hover {
  text-decoration: underline;
}

/* contact */

.contactPageFlex {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  border-top: solid 1px var(--border-light);
}

.contactPageFlexLeft {
  width: 50%;
  background-color: var(--bg-light);
  padding: 4vw 0 4vw 4vw;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.contactPageFlexRight {
  width: 50%;
  padding: 4vw 4vw 4vw 0;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.contactPageFlexInner {
  width: 100%;
  max-width: calc(540px - 4vw);
  box-sizing: content-box;
}

.contactPageFlexLeft .contactPageFlexInner {
  padding: 0 4vw 0 0;
}
.contactPageFlexRight .contactPageFlexInner {
  padding: 0 0 0 4vw;
}

.contactPageFlex .headline span {
  display: block;
  margin: 10px 0 0;
}

.contactPageFlexInner p {
  margin: 20px 0 0;
  font-size: 1.4rem;
}

.contactContent {
  position: relative;
}

._formrun_gotcha {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.formContentBox {
  margin: 0 0 40px;
}
.formContentBoxFlex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0 20px;
}

.formContentBoxFlex .formContentBox {
  width: calc(50% - 10px);
  margin: 0 0 0 20px;
}
.formContentBoxFlex .formContentBox:first-child {
  margin: 0;
}

.contactContent label {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0 0 5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contactContent label span {
  display: inline-block;
  margin: 0 0 0 5px;
  font-size: 1rem;
  padding: 2px;
  background-color: var(--dark-400);
  color: #fff;
  border-radius: 2px;
  line-height: 1.1;
}

.contactContent label span.required {
  background-color: var(--error-500);
}

.errorText {
  margin: 5px 0 0 0 !important;
  font-size: 1.2rem !important;
  color: var(--error-500);
}

.downloadFlex {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.downloadFlexImg {
  width: 180px;
  height: 200px;
  position: relative;
  z-index: 1;
}
.downloadFlexImgBox {
  width: 126px;
  height: 180px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  box-shadow: 0px 4px 30px rgba(0, 35, 51, 0.2);
}
.downloadFlexImgBox:first-child {
  left: 0;
  top: 0;
  z-index: 3;
}

.downloadFlexRight {
  width: calc(100% - 200px);
  margin: 0 0 0 20px;
}

p.downloadTxt span {
  display: block;
  border-top: solid 1px #999;
  border-bottom: solid 1px #999;
  font-weight: bold;
  padding: 5px 0;
  margin: 5px 0;
}

.handbookContent {
  margin: 20px 0 0 0;
}

.handbookImage {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
}

.handbookTxt {
  margin: 0;
  padding: 0;
}

.handbookTxt strong {
  font-weight: bold;
}

.test {
  background-color: #000;
}
/* thanks */

.thanksPage {
  width: 100%;
  min-height: 720px;
  position: relative;
  z-index: 1;
  background-color: var(--secondary-Main);
  color: #fff;
}

.thanksPageBg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
}

.thanksPageBgOverlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--bg-overlay);
  mix-blend-mode: multiply;
  z-index: 1;
}

.thanksContentImage {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  height: 400px;
  position: relative;
  margin: 0 auto 4vw;
}

.thanksContentBg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thanksContent {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  padding: 4vw 4vw;
}

.thanksContent h1 {
  font-size: 2.3rem;
  font-weight: bold;
  margin: 0 0 40px 0;
}

.thanksContent h1 span {
  display: block;
  font-size: 1.6rem;
  margin: 10px 0 0 0;
}

.thanksContentBtn {
  margin: 40px 0 0;
}

.thanksDownload {
  margin: 0 0 40px 0;
  border: solid 2px var(--secondary-500);
  border-radius: 6px;
  padding: 30px;
  box-sizing: border-box;
}
.thanksDownload h2 {
  font-size: 1.8rem;
  color: var(--secondary-500);
  margin: 0 0 20px 0;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .contactPageFlex {
    display: block;
  }

  .contactPageFlexLeft {
    width: 100%;
    padding: 40px 20px;
  }
  .contactPageFlexRight {
    width: 100%;
    padding: 20px 20px 80px;
  }

  .contactPageFlexInner {
    width: 100%;
    max-width: 640px;
    box-sizing: content-box;
    margin: 0 auto;
  }

  .contactPageFlexLeft .contactPageFlexInner {
    padding: 0;
  }
  .contactPageFlexRight .contactPageFlexInner {
    padding: 0 0 0 0;
  }

  .downloadFlex {
    display: block;
    margin: 30px 0;
  }

  .downloadFlexImg {
    margin: 0 auto;
  }

  .downloadFlexRight {
    width: 100%;
    margin: 0 0 0 0;
  }

  .handbookImage {
    width: 100%;
    height: 50vw;
  }

  .thanksPage {
    width: 100%;
    min-height: 150vw;
  }

  .thanksContent h1 {
    font-size: 1.6rem;
    margin: 0 0 20px 0;
    line-height: 1.4;
  }

  .thanksContent p {
    font-size: 1.4rem;
    text-align: left;
  }
}

/* WebInsurance */

.insurance {
  background-color: var(--secondary-Light);
}
.insuranceFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4vw 0 0 0;
  flex-wrap: wrap;
  padding: 0 4vw;
}

.insuranceFlex .contactSectionLink {
  background-color: #fff;
  width: auto;
  margin: 0 0 30px 30px;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 4px;
  color: var(--info-Main);
  text-align: center;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}
.insuranceFlex .contactSectionLink:first-child {
  margin: 0 0 30px 0;
}

.insuranceFlex .contactSectionLink:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
}

.insuranceFlex .contactSectionLink svg {
  font-size: 7rem;
  color: var(--primary-Main);
}

.insuranceFlex .contactSectionLink h3 {
  font-size: 1.6rem;
  margin: 15px 0 0 0;
}

@media screen and (max-width: 690px) {
  .insuranceFlex .contactSectionLink:nth-child(odd) {
    margin: 0 0 30px 0;
  }
}
@media screen and (max-width: 480px) {
  .insuranceFlex .contactSectionLink {
    width: 100%;
    margin: 0 0 4vw 0;
  }
  .insuranceFlex .contactSectionLink:nth-child(odd) {
    margin: 0 0 4vw 0;
  }
}

.whiteBase {
  background-color: #fff;
  max-width: 720px;
  margin: 0 auto;
  padding: 4vw;
}

.whiteBase table {
  line-height: 1.6;
}
.whiteBase table tr {
  border: none;
}
.whiteBase table tr:first-child {
  border: none;
}
.whiteBase table tr:nth-child(even) {
  background-color: var(--background);
}

.whiteBase table th {
  padding: 30px 20px;
  white-space: nowrap;
}
.whiteBase table td {
  padding: 30px 20px;
}

.btnCenter {
  margin: 0 auto;
  text-align: center;
  margin: 40px 0 0;
}

@media screen and (max-width: 480px) {
  .whiteBase {
    padding: 40px 0;
  }
  .whiteBase table {
    font-size: 1.4rem;
  }
  .whiteBase table th {
    padding: 30px 15px;
    white-space: nowrap;
  }
  .whiteBase table td {
    padding: 0 15px 30px;
  }

  .whiteBase p {
    text-align: center;
  }
}

.lineLink {
  margin: 40px auto 0;
  max-width: 1080px;
}
.lineLinkInner {
  padding: 40px;
  border: solid 1px #00b900;
  text-align: center;
}

.lineBtn {
  background-color: #00b900;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  padding: 20px;
  border-radius: 4px;
  margin: 0 0 0 0;
}

.lineBtn svg {
  margin: 0 5px 0 0;
}

.lineBtn:hover {
  background-color: var(--info-Light);
}

@media screen and (max-width: 640px) {
  .lineLink {
    margin: 20px auto 0;
    max-width: 1080px;
  }
}
